.container{
    float: left;
    width: 800px;
    height: 800px;
    border: 3px solid black !important;
    margin:2% 10%;
    position: relative;
    }
.container div {
    color: black;
    border: 1px solid darkolivegreen !important;
    width: 78px;
    height: 78px;
    text-align: right;
    float: left;
    font-size: 23px !important;
}
.oddeven:nth-child(odd){
    background-color: lightblue;
}
.oddeven:nth-child(even){
    background-color: lightpink;
}
.evenodd:nth-child(odd){
    background-color: lightpink;
}
.evenodd:nth-child(even){
    background-color: lightblue;
}


.counter-blue{
    border: 1 px solid black;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    background-color: blue !important ;

}
.counter-red{
    border: 1 px solid black;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    background-color: red !important ;

}
.counter-green{
    border: 1 px solid black;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    background-color: green !important ;

}
.counter-player{
    width: 100px ;
    height: 150px ;
    border: 2px solid black;
    margin:10% 70%;
}
.player{
    width: 100px;
    height: 47px;
    border: 1px solid black;
    padding: 1%;
}
.dice{
    background-color: white !important;

}
.dice1{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 30%;
    background-color: blue;

}
.figure1{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0 auto;
    margin-top: 15px;
}
.figure2-1{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 10%;
}
.figure2-2{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 40% 40% 40% 50%;
}
.figure3-1{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 5%;
}
.figure3-2{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 10% 10% 10% 35%;
}
.figure3-3{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin-left: 70%;
}
.figure4-1{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 10%;
}
.figure4-2{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0% 0% 0% 250%;
}
.figure4-3{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 33% 0% 0% 10%;
}
.figure4-4{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0% 0% 0% 250%;
}
.figure5-1{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 8%;
}
.figure5-2{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0% 0% 0% 300%;

}
.figure5-3{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0% 35%;
}
.figure5-4{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 5%;
}
.figure5-5{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin-left: 300%
}
.figure6-1{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 7% 15%;
}
.figure6-2{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0% 0% 0% 250%;
}
.figure6-3{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin:  7% 15%;
}
.figure6-4{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0% 0% 0% 250%;
}
.figure6-5{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin:  7% 15%;
}
.figure6-6{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white !important;
    margin: 0% 0% 0% 250%;
}
div.ladder {
    width: 40px;
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  #ladder1 {
    position: absolute;
    top: 280px;
    left: 230px;
    transform: rotate(17deg);
  }
  #ladder2 {
    position: absolute;
    top: 475px;
    left: 825px;
    transform: rotate(-33deg);
  }
  #ladder3 {
    position: absolute;
    top: 725px;
    left: 310px;
    transform: rotate(28deg);
  }
  #ladder4 {
    position: absolute;
    top: 185px;
    left: 555px;
    transform: rotate(28deg);
  }

  div.ladder div {
    width: 100%;
    height: 40px;
  }
  div.ladder div:not(:first-child) {
    border-top: 1px solid black;
  }
  div.ladder div:not(:first-child)::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background: red;
    border-bottom: 1px solid black;
  }
  div.snake {
    width: 40px;
  }

  div.snake div {
    width: 100%;
    height: 50px;
    border-radius: 50%;
  }

  div.snake div:nth-child(odd) {
    border-left: 10px solid green;
  }
  div.snake div:nth-child(even) {
    border-right: 10px solid green;
  }

  #snake1 {
    position: absolute;
    top: 170px;
    left: 555px;
    transform: rotate(28deg);
  }
  #snake2 {
    position: absolute;
    top: 547px;
    left: 580px;
    transform: rotate(40deg);
  }
  #snake3 {
    position: absolute;
    top: 330px;
    left: 350px;
    transform: rotate(50deg);
  }