
/* on-off button
 label {
    position: relative;
    left: 100px;
    top: 100px;
}

.check {
    display: none;
}

.btn {
    display: inline-block;
    height: 50px;
    width: 100px;
    background: #333;
    border-radius: 50px;
    transition: background o.5s ease;
}

.btn::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #aaa;
    top: -35px;
    left: 5px;
    border-radius: 40px;
    transition: all 0.5s ease;
}

.btn::after {
    content: "off";
    position: absolute;
    height: 50px;
    width: 50px;
    top: -38px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    left: 50px;
    color: white;
    transition: left 0.5s ease;
}

.check:checked + .btn {
    background: #b1b1b1;
}

.check:checked + .btn::before {
    background: #0283fc;
    left: 55px;
}

.check:checked + .btn::after {
    left: 5px;
    content: "on";
} */


/* progress_bar
.wrapper {
    border: 2px solid black;
    height: 50px;
}

.progress_bar {
    background: green;
    width: 0%;
    height: 100%;
    transition: width 10s ease-in;
}

.wrapper:hover .progress_bar {
    width: 99%;
} */


/* wheel
.wrapper {
    background: #ddd;
    padding: 20px;
}

.wrapper:hover .container {
    transform: translateX(1020px) rotate(7200deg);
}

.container {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px dashed darkblue;
    border-radius: 50%;
    transition: transform 2s ease-out;
}

.wheel {
    height: 100%;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-size: 2rem;
}
*/

/* moon-around
.spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #aaa;
    border-radius: 50%;
    position: relative;
    margin: 150px;
    display: inline-block;
    animation: spin 1s linear infinite; 
}

.spinner::before {
    content: "";
    width: 30px;
    height: 30px;
    background:  green;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 35px;
}

.spinner::after {
    content: "";
    width: 20px;
    height: 20px;
    background:  black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
*/

.road {
    position: relative;
    width: 70%;
    border-top: 12px dotted black;
    margin: 150px auto;
    
}

.pacman {
    position: absolute;
    animation: walk 10s linear infinite;
}

.pacman::before, .pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: 30px solid #0798ca;
    border-radius: 50%;
    top: -35px;
}

.pacman::before {
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: chompTop 0.5s linear infinite alternate;
}

.pacman::after {
    border-right-color: transparent;
    border-top-color: transparent;
    animation: chompBottom 0.5s linear infinite alternate;
}

@keyframes walk {
    0% {
        left: 0%;
        transform: scaleX(1);
    }
    49% {
        left: 100%;
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1);
    }
    100% {
        left: 0%;
        transform: scaleX(-1);
    }
}

@keyframes chompTop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

@keyframes chompBottom {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}