.header{
    background-color: darkcyan;
    border-style: inset;
    border-width: 7px;
    border-color: coral;
    margin: 2%;
}
.img-place{
    margin-left: 20%;
}
.nav-style{
    margin: 1%;
    margin-left: 50%;
}
a{
    border: 3px dotted lightcoral;
    color: lightpink;
}