div.container {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    border: 2px solid black;
}

div.container div {
    box-sizing: border-box;
}

div.top {
    height: 250px;
    border-bottom: 1px solid black;
}

div.float-left {
    float: left;
}

div.red-home {
    width: 250px;
    border-right: 1px solid black;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}

div.green-path {
    width: 150px;
    height: 100%;
    border-right: 1px solid black;
}

div.items-container {
    width: 170px;
    height: 170px;
    background-color: white;
    margin: 40px;
    padding: 20px;
}

div.item-round {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 30px;
}

div.margin-left {
    margin-left: 80px;
}

div.green-path > div:not(.clear-both):not(.last) {
    height: 42px;
    border-bottom: 1px solid black;
}

div.green-path > div.last {
    height: 40px;
}

div.green-path > div > div:not(:last-child) {
    width: 50px;
    border-right: 1px solid black;
}

div.green-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

div.green-home {
    float: right;
    width: 250px;
    height: 100%;
}

.clear-both {
    clear: both;
}

div.middle {
    height: 150px;
    border-bottom: 1px solid black;
}

div.red-path {
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    float: left;
}

 div.red-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

 div.red-path > div:not(.clear-both):not(.last) {
    height: 50px;
    border-bottom: 1px solid black;
}

div.red-path > div.last {
    height: 40px;
}

div.red-path > div > div:not(:last-child) {
    width: 40px;
    border-right: 1px solid black;
}

div.yellow-path {
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    float: right;
}

 div.yellow-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

 div.yellow-path > div:not(.clear-both):not(.last) {
    height: 50px;
    border-bottom: 1px solid black;
}

div.yellow-path > div.last {
    height: 40px;
}

div.yellow-path > div > div {
    width: 40px;
    border-left: 1px solid black;
}


div.bottom {
    height: 250px;
}

 div.blue-home {
    width: 250px;
    border-right: 1px solid black;
}

.blue-bg {
    background-color: blue;
}

.yellow-bg {
    background-color: yellow;
}

 div.yellow-home {
    float: right;
    width: 250px;
    height: 100%;
}

 div.blue-path {
    width: 150px;
    height: 100%;
    border-right: 1px solid black;
}

 div.blue-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

 div.blue-path > div:not(.clear-both):not(.last) {
    height: 42px;
    border-bottom: 1px solid black;
}

div.blue-path > div.last {
    height: 40px;
}

div.blue-path > div > div:not(:last-child) {
    width: 50px;
    border-right: 1px solid black;
}
