div {
    box-sizing: border-box;
}

div.container {
    width: 618px;
    height: 618px;
    border: 2px solid black;
    margin: 0 auto;
}

div.top {
    width: 618px;
    display: inline-flex;
    height: 245px;
    border-bottom: 1px solid black;
}

div.middle {
    display: block;
    height: 122px;
    border-bottom: 1px solid black;
}

div.bottom {
    display: inline-flex;
    height: 245px;
}

div.red-home {
    display: inline-block;
    width: 245px;
    height: 245px;
    border-right: 1px solid black;
}
div.green-path {
    display: inline-block;
    width: 124px;
    height: 245px;
    border-right: 1px solid black;
}

div.green-home {
    display: inline-block;
    width: 245px;
    height: 245px;
}

div.blue-home {
    display: inline-block;
    width: 245px;
    height: 245px;
    border-right: 1px solid black;
}
div.blue-path {
    display: inline-block;
    width: 124px;
    height: 245px;
    border-right: 1px solid black;
}

div.yellow-home {
    display: inline-block;
    width: 245px;
    height: 245px;
}

div.red-bg {
    background-color: red;
}
div.green-bg {
    background-color: green;
}
div.blue-bg {
    background-color: blue;
}
div.yellow-bg {
    background-color: yellow;
}
div.item-container {
    width: 175px;
    height: 175px;
    background-color: white;
    margin: 35px;
    padding: 20px;
}
div.item-round {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 30px;
}
div.margin-left {
    margin-left: 80px;
}
div.green-path > div:not(.last) {
    width: 124px;
    display: inline-flex;
    height: 38px;
    border-bottom: 1px solid black;
}

div.green-path > div.last {
    width: 124px;
    display: inline-flex;
    height: 39px;
}
div.green-path > div > div:not(:last-child) {
   width: 41px;
   height: 40px;
    border-right: 1px solid black;
}

div.green-path > div > div {
    width: 40px;
    height: 40px;
}

div.arrow {
    font-size: 35px;
    padding-left: 5px;
}

div.star {
    font-size: 35px;
    padding-left: 5px;
}
div.red-path {
    display: inline-block;
    width: 245px;
    height: 124px;
    border-right: 1px solid black;
}

 div.red-path > div > div {
     display: inline-block;
    width: 40px;
    height: 40px;
}

 div.red-path > div:not(.clear-both):not(.last) {
    height: 41px;
    border-bottom: 1px solid black;
}

div.red-path > div.last {
    height: 40px;
}