div.container {
    width: 650px;
    height: 650px;
    margin-left:70px;
    border: 2px solid black;
    float: left;
}

div.container div {
    box-sizing: border-box;
}

div.top {
    height: 250px;
    border-bottom: 1px solid black;
}

div.float-left {
    float: left;
}

div.red-home {
    width: 250px;
    border-right: 1px solid black;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}

div.green-path {
    width: 150px;
    height: 100%;
    border-right: 1px solid black;
}

div.items-container {
    width: 170px;
    height: 170px;
    background-color: white;
    margin: 40px;
    padding: 20px;
}

div.items-container div > div {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 40px;
}

div.items-container div > div:first-child {
    float: left;
}

div.items-container div > div:last-child {
    float: right;
}


div.green-path > div:not(.clear-both):not(.last) {
    height: 42px;
    border-bottom: 1px solid black;
}

div.green-path > div.last {
    height: 40px;
}

div.green-path > div > div:not(:last-child) {
    width: 50px;
    border-right: 1px solid black;
}

div.green-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

div.green-home {
    float: right;
    width: 250px;
    height: 100%;
}

.clear-both {
    clear: both;
}

div.middle {
    height: 150px;
    border-bottom: 1px solid black;
}

div.red-path {
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    float: left;
}

 div.red-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

 div.red-path > div:not(.clear-both):not(.last) {
    height: 50px;
    border-bottom: 1px solid black;
}

div.red-path > div.last {
    height: 40px;
}

div.red-path > div > div:not(:last-child) {
    width: 40px;
    border-right: 1px solid black;
}

div.yellow-path {
    width: 251px;
    height: 100%;
    border-right: 1px solid black;
    float: right;
}

 div.yellow-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

 div.yellow-path > div:not(.clear-both):not(.last) {
    height: 50px;
    border-bottom: 1px solid black;
}

div.yellow-path > div.last {
    height: 40px;
}

div.yellow-path > div > div {
    width: 40px;
    border-left: 1px solid black;
}


div.bottom {
    height: 250px;
}

 div.blue-home {
    width: 250px;
    border-right: 1px solid black;
}

.blue-bg {
    background-color: blue;
}

.yellow-bg {
    background-color: yellow;
}

 div.yellow-home {
    float: right;
    width: 250px;
    height: 100%;
}

 div.blue-path {
    width: 150px;
    height: 100%;
    border-right: 1px solid black;
}

 div.blue-path > div > div {
    width: 49px;
    height: 100%;
    float: left;
}

 div.blue-path > div:not(.clear-both):not(.last) {
    height: 42px;
    border-bottom: 1px solid black;
}

div.blue-path > div.last {
    height: 40px;
}

div.blue-path > div > div:not(:last-child) {
    width: 50px;
    border-right: 1px solid black;
}
div.arrow {
    font-size: 38px;
    padding-left: 6px;
}

div.star {
    font-size: 40px;
    padding-left: 5px;
}

div.middle-shape {
    height: 150px;
    width: 149px;
    float: left;
    position: relative;
}

div.middle-shape div {
    position: absolute;
    width: 0;
	height: 0;
}

div.right-shape {
    border-top: 75px solid transparent;
    border-right: 75px solid yellow;
    border-bottom: 75px solid transparent;
    right: 0;
}

div.up-shape {
    border-top: 75px solid green;
    border-left: 74px solid transparent;
	border-right: 75px solid transparent;
}

div.down-shape {
    border-bottom: 75px solid blue;
    border-left: 74px solid transparent;
	border-right: 75px solid transparent;
    bottom: 0;
}

div.left-shape {
    border-top: 75px solid transparent;
    border-left: 74px solid red;
	border-bottom: 75px solid transparent;
}

div.counter {
    color: lightcoral;
}

div.counter2 {
    font-size: 30px;
    text-align: center;
    color: lightgreen;
}

div.counter3 {
    font-size: 30px;
    text-align: center;
    color: lightblue;
}

div.counter4 {
    font-size: 30px;
    text-align: center;
    color: darkgoldenrod;
}

div.dice {
    font-size: 70px;
    display: inline-flex;
    color: darkblue;
}
div.dice > div {
    margin: 5px;
    padding: 2px;
}

div.players {
    width: 145px;
    border: 3px solid white;
    border-radius: 5px;
    background-color:black;
}

div.players > div {
    width: 125px;
    height: 18px;
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 20px;
}

div.other-items {
    float: right;
    margin-top: 200px;
}