/* Common */
div {
    vertical-align: top;
}

div.inline-block-container {
    font-size: 0;
}

div.inline-block-container > * {
    display: inline-block;
    font-size: 16px;
}

/* Homes */
div.items-container {
    margin: 35px;
    width: 175px;
    height: 175px;
    background-color: white;
}

div.items-container div > div {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 20px;
}

div.home {
    width: 245px;
    height: 245px;
}

/* Paths */
div.vertical-path {
    width: 122px;
    height: 245px;
}

div.path > div {
    height: 40px;
}

div.vertical-path > div:not(:last-child) {
    border-bottom: 1px solid black;
}

div.path > div {
    font-size: 0;
}

div.path > div > div {
    display: inline-block;
    font-size: 16px;
}

div.path > div > div {
    width: 40px;
    height: 40px;
}

div.path > div > div:not(:last-child) {
    border-right: 1px solid black;
}

div.star {
    font-size: 35px !important;
    opacity: 0.5;
}

div.arrow {
    font-size: 35px !important;
    opacity: 0.5;
}

/* bg-colors */
div.red-bg {
    background-color: darkred;
}

div.green-bg {
    background-color: darkgreen;
}

div.blue-bg {
    background-color: darkblue;
}

div.yellow-bg {
    background-color: darkgoldenrod;
}

/* counter */
div.counter {
    text-align: center;
    font-size: 25px;
}

div.red-color {
    color: red;
}

div.green-color {
    color: chartreuse;
}

div.blue-color {
    color: cornflowerblue;
}

div.yellow-color {
    color: yellow;
}

/* Board level */
div.board {
    display: inline-block;
    width: 614px;
    height: 614px;
    border: 2px solid black;
    margin-left: 150px;
    margin-top: 100px;
}

div.board > div:not(:last-child) {
    border-bottom: 1px solid black;
}

/* Top level */
div.top-part {
    height: 245px;
}

div.top-part > div:not(:last-child) {
    border-right: 1px solid black;
}

div.home.red-bg.highlight {
    animation-name: flashred;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes flashred {
    0% {background-color: darkred;}
    50%{background-color: red;}
    100%{background-color: darkred;}
}

div.home.green-bg.highlight {
    animation-name: flashgreen;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes flashgreen {
    0% {background-color: darkgreen;}
    50%{background-color: #2E8B57;}
    100%{background-color: darkgreen;}
}

/* Middle Part */
div.middle-part > div:not(:last-child) {
    border-right: 1px solid black;
}

div.finish {
    width: 122px;
    height: 122px;
    position: relative;
}

div.right-shape {
    position: absolute;
    border-top: 63px solid transparent;
    border-right: 62px solid darkgoldenrod;
    border-bottom: 63px solid transparent;
    right: 0;
}

div.up-shape {
    position: absolute;
    border-top: 63px solid darkgreen;
    border-left: 62px solid transparent;
	border-right: 63px solid transparent;
}

div.down-shape {
    position: absolute;
    border-bottom: 63px solid darkblue;
    border-left: 62px solid transparent;
	border-right: 63px solid transparent;
    bottom: 0;
}

div.left-shape {
    position: absolute;
    border-top: 63px solid transparent;
    border-left: 62px solid darkred;
	border-bottom: 63px solid transparent;
}


div.horizontal-path {
    width: 245px;
    height: 122px;
}

div.horizontal-path > div:not(:last-child) {
    border-bottom: 1px solid black;
}

/* bootom part */
div.bottom-part > div:not(:last-child) {
    border-right: 1px solid black;
}

div.home.blue-bg.highlight {
    animation-name: flashblue;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes flashblue {
    0% {background-color: darkblue;}
    50%{background-color: blue;}
    100%{background-color: darkblue;}
}

div.home.yellow-bg.highlight {
    animation-name: flashyellow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes flashyellow {
    0% {background-color: darkgoldenrod;}
    50%{background-color: gold;}
    100%{background-color: darkgoldenrod;}
}
/* players-box & dice */
div.dice {
    font-size: 70px;
    display: inline-flex;
    color: darkblue;
}
div.dice > div {
    margin: 5px;
    padding: 2px;
}

div.hidden {
    display: none;
}

div.players {
    width: 145px;
    border: 3px solid white;
    border-radius: 5px;
    background-color:black;
    margin-left: 50px;
}

div.players > div {
    width: 125px;
    height: 18px;
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 20px;
}

div.other-items {
    display: inline-block;
    margin-top: 250px;
}